## Q1. List any five functions of the pandas library with execution.

Ans :-

* **read_csv( ): -**

In [122]:
import pandas as pd

In [123]:
data = pd.read_csv('services.csv')

In [124]:
data.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

* **head( ) :-**

In [125]:
import pandas as pd

In [126]:
data = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

In [127]:
data.head()

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

* **info( ) :-**

In [128]:
import pandas as pd

In [129]:
data = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

In [130]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

* **groupby( ) :-**

In [131]:
import pandas as pd

In [132]:
data = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo'],
                     'B': [1, 2, 3, 4, 5],
                     'C': [6, 7, 8, 9, 10]})

In [133]:
grouped = data.groupby('A')

In [134]:
for group_name, group_data in grouped:
    print(group_name)
    print(group_data)

bar
     A  B  C
1  bar  2  7
3  bar  4  9
foo
     A  B   C
0  foo  1   6
2  foo  3   8
4  foo  5  10

* **tail( ) :-**

In [135]:
import pandas as pd

In [136]:
data = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

In [137]:
data.tail(2)

   A  B
3  4  d
4  5  e

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [138]:
import pandas as pd

In [139]:
data = {
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]
}

In [140]:
df = pd.DataFrame(data)

In [141]:
print("Original DataFrame:")
print(df)

Original DataFrame:
    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

In [142]:
# Re-index the DataFrame using the function
def reindex_dataframe(df):
    new_index = pd.Series(range(1, len(df) * 2 + 1, 2))
    df = df.set_index(new_index)
    return df

In [143]:
df_reindexed = reindex_dataframe(df)

In [144]:
print("Re-indexed DataFrame:")
print(df_reindexed)

Re-indexed DataFrame:
    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

## For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

Ans :-

In [145]:
import pandas as pd

In [146]:
data = {'Values': [40, 40, 30, 40, 50]}

In [147]:
df = pd.DataFrame(data)

In [148]:
def sum_first_three_values(df):
    values_sum = df['Values'].head(3).sum()
    print("Sum of the first three values:", values_sum)

In [149]:
sum_first_three_values(df)

Sum of the first three values: 110

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

Ans :-

In [150]:
import pandas as pd

In [151]:
data = {'Text': ['Hi ,My name is Saksham Jain', 'I am from Indore', 'Python is awesome']}
df = pd.DataFrame(data)

In [152]:
def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

In [153]:
df_with_word_count = count_words(df)

In [154]:
print(df_with_word_count)

                          Text  Word_Count
0  Hi ,My name is Saksham Jain           6
1             I am from Indore           4
2            Python is awesome           3

## Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans :-

* **DataFrame.size( ) :-**

This method returns the number of elements in the DataFrame, i.e., the total number of cells in the DataFrame. It calculates the size by multiplying the number of rows by the number of columns.

* Example :-

In [155]:
import pandas as pd

In [156]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

In [157]:
size = df.size

In [158]:
print("Size of DataFrame:", size)

Size of DataFrame: 6

* **DataFrame.shape( ) :-**

This attribute returns a tuple representing the dimensionality of the DataFrame, i.e., the number of rows and columns. It provides information about the structure of the DataFrame without counting individual elements.

* Example :-

In [159]:
import pandas as pd

In [160]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

In [161]:
shape = df.shape

In [162]:
print("Shape of DataFrame:", shape)

Shape of DataFrame: (3, 2)

## Q6. Which function of pandas do we use to read an excel file?

Ans :-

In [163]:
import pandas as pd

In [164]:
df = pd.read_excel('LUSID Excel - Setting up your market data.xlsx')

In [165]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Getting Started tutorials,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Knowledge Base articles,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,or Contact us,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,LUSID accepts datetimes in any recognised Exce...,NaN,NaN,"LUSID also accepts UTC, UTS offsets and cutlabels",NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,Excel formats to show datetime,NaN,NaN,Additional formats,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,Enter the date to convert,2019-04-10 00:00:00,NaN,Standard UTC timestamp:,"""YYYY-MM-DDTHH:MM:SS.00Z""","Where Z indicates Zulu time (UTC+0), and is eq..."
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,This date has no time component,2019-04-10 00:00:00,NaN,Convert date into a string,2019-04-10T 13:30:45.55Z,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,Specify time component,13:30:45.550000,NaN,UTC offset (not recognised as an excel date),2019-04-10T13:30:45+04:00,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,Add to your date and display the complete date...,2019-04-10 13:30:45.550000,NaN,Cutlabel,2019-04-10NSingaporeClose,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Although the date can still appears without time,2019-04-10 13:30:45.550000,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

## The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

Ans :-

In [166]:
import pandas as pd

In [167]:
data = {'Email': ['sakshamjain@gamil.com', 'ritikasuneriya@gamil.com.com', 'kushagra.jain@gmail.com']}

In [168]:
df = pd.DataFrame(data)

In [169]:
def extract_username(email):
    return email.split('@')[0]

In [170]:
def add_username_column(df):
    df['Username'] = df['Email'].apply(extract_username)
    return df

In [171]:
df_with_username = add_username_column(df)

In [172]:
print(df_with_username)

                          Email        Username
0         sakshamjain@gamil.com     sakshamjain
1  ritikasuneriya@gamil.com.com  ritikasuneriya
2       kushagra.jain@gmail.com   kushagra.jain

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

## For example, if df contains the following values:
**A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.**

In [175]:
import pandas as pd

In [176]:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

In [177]:
df = pd.DataFrame(data)

In [178]:
def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

In [179]:
selected_df = select_rows(df)

In [180]:
print("Selected Rows:")
print(selected_df)

Selected Rows:
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

Ans :-

In [183]:
import pandas as pd

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev = df['Values'].std()
    
    return mean_value, median_value, std_dev

* Example :-

In [186]:
import pandas as pd

In [187]:
data = {'Values': [40,50,60,70,80,90]}

In [188]:
df = pd.DataFrame(data)

In [189]:
mean, median, std_dev = calculate_statistics(df)

In [190]:
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 65.0
Median: 65.0
Standard Deviation: 18.708286933869708

## Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

Ans :-

In [191]:
import pandas as pd
def calculate_moving_average(df):
    # Sort DataFrame by Date column
    df = df.sort_values(by='Date')
    # Calculate moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

* Example :-

In [192]:
import pandas as pd

In [193]:
data = {'Date': pd.date_range(start='2024-01-01', periods=10),
        'Sales': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550]}

In [194]:
df = pd.DataFrame(data)

In [195]:
df_with_moving_average = calculate_moving_average(df)

In [196]:
print(df_with_moving_average)

        Date  Sales  MovingAverage
0 2024-01-01    100          100.0
1 2024-01-02    150          125.0
2 2024-01-03    200          150.0
3 2024-01-04    250          175.0
4 2024-01-05    300          200.0
5 2024-01-06    350          225.0
6 2024-01-07    400          250.0
7 2024-01-08    450          300.0
8 2024-01-09    500          350.0
9 2024-01-10    550          400.0

## Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.Monday, Tuesday) corresponding to each date in the 'Date' column.

* **For example, if df contains the following values:**

**Date**
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

**Date Weekday**
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

Ans : -

In [211]:
import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

* Example:-

In [213]:
import pandas as pd

In [214]:
data = {'Date': pd.date_range(start='2023-01-01', periods=5)}
df = pd.DataFrame(data)

In [215]:
df_with_weekday = add_weekday_column(df)

In [216]:
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

Ans :-

In [218]:
import pandas as pd

def select_rows_within_date_range(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

* Example :-

In [219]:
import pandas as pd

In [220]:
data = {'Date': pd.date_range(start='2023-01-01', end='2023-02-28')}
df = pd.DataFrame(data)

In [221]:
selected_rows = select_rows_within_date_range(df)

In [222]:
print(selected_rows)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

## Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Ans :-

* The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself.

In [224]:
import pandas as pd